
<section class="rewSection">
            <div class="rewSection__wrap">
            <div 
id="stamped-main-widget"   
data-product-id="{{ product.id }}"   
data-name="{{ product.title | escape }}"   
data-url="{{ shop.url }}{{ product.url }}"   
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
data-description="{{ product.description | escape }}"   
data-product-sku="{{product.handle}}"
data-product-title="{{product.title}}" 
data-product-type="{{product.type}}">   
{{product.metafields.stamped.reviews}}   
</div>
                {% comment %} <div class="rewSection__header">
                    <div class="rewSection__headerItem">
                        <p>5.0</p>
                        <svg width="177" height="30" viewBox="0 0 177 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.8577 0L18.1934 10.2664H28.9882L20.255 16.6114L23.5908 26.8778L14.8577 20.5328L6.12455 26.8778L9.46031 16.6114L0.727186 10.2664H11.5219L14.8577 0Z" fill="#FFF9EF"/>
                            <path d="M52.3245 0L55.6602 10.2664H66.455L57.7218 16.6114L61.0576 26.8778L52.3245 20.5328L43.5913 26.8778L46.9271 16.6114L38.194 10.2664H48.9887L52.3245 0Z" fill="#FFF9EF"/>
                            <path d="M88.5003 0L91.836 10.2664H102.631L93.8976 16.6114L97.2334 26.8778L88.5003 20.5328L79.7671 26.8778L83.1029 16.6114L74.3698 10.2664H85.1645L88.5003 0Z" fill="#FFF9EF"/>
                            <path d="M124.675 0L128.011 10.2664H138.806L130.072 16.6114L133.408 26.8778L124.675 20.5328L115.942 26.8778L119.278 16.6114L110.545 10.2664H121.339L124.675 0Z" fill="#FFF9EF"/>
                            <path d="M162.142 0L165.478 10.2664H176.272L167.539 16.6114L170.875 26.8778L162.142 20.5328L153.409 26.8778L156.744 16.6114L148.011 10.2664H158.806L162.142 0Z" fill="#FFF9EF"/>
                        </svg>
                        <span>Based on 20 reviews</span>
                    </div>
                    <button class="rewSection__headerBtn">WRITE A <br> REVIEW</button>
                </div>
                <div class="rewItem">
                        <div class="rewItem__name">
                            <span>Samantha R. </span>
                            <span>03/05/21</span>
                        </div>
                        <div class="rewItem__body">
                            <div class="rewItem__stars">
                                <svg width="120" height="20" viewBox="0 0 120 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 0L12.2451 6.90983H19.5106L13.6327 11.1803L15.8779 18.0902L10 13.8197L4.12215 18.0902L6.36729 11.1803L0.489435 6.90983H7.75486L10 0Z" fill="#FFF9EF"/>
                                    <path d="M35.2178 0L37.4629 6.90983H44.7283L38.8505 11.1803L41.0956 18.0902L35.2178 13.8197L29.3399 18.0902L31.5851 11.1803L25.7072 6.90983H32.9726L35.2178 0Z" fill="#FFF9EF"/>
                                    <path d="M59.5654 0L61.8106 6.90983H69.076L63.1981 11.1803L65.4433 18.0902L59.5654 13.8197L53.6876 18.0902L55.9327 11.1803L50.0549 6.90983H57.3203L59.5654 0Z" fill="#FFF9EF"/>
                                    <path d="M83.9131 0L86.1582 6.90983H93.4237L87.5458 11.1803L89.7909 18.0902L83.9131 13.8197L78.0352 18.0902L80.2804 11.1803L74.4025 6.90983H81.6679L83.9131 0Z" fill="#FFF9EF"/>
                                    <path d="M109.13 0L111.375 6.90983H118.64L112.763 11.1803L115.008 18.0902L109.13 13.8197L103.252 18.0902L105.497 11.1803L99.6193 6.90983H106.885L109.13 0Z" fill="#FFF9EF"/>
                                    </svg>

                            </div>
                            <div class="rewItem__title">So cute</div>
                            <div class="rewItem__text">
                                I love these slippers so much. I wear them almost every day and tell all my friends and family to buy them too! Addicting.
                            </div>
                        </div>
                </div>
                <div class="rewItem">
                        <div class="rewItem__name">
                            <span>Samantha R. </span>
                            <span>03/05/21</span>
                        </div>
                        <div class="rewItem__body">
                            <div class="rewItem__stars">
                                <svg width="120" height="20" viewBox="0 0 120 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 0L12.2451 6.90983H19.5106L13.6327 11.1803L15.8779 18.0902L10 13.8197L4.12215 18.0902L6.36729 11.1803L0.489435 6.90983H7.75486L10 0Z" fill="#FFF9EF"/>
                                    <path d="M35.2178 0L37.4629 6.90983H44.7283L38.8505 11.1803L41.0956 18.0902L35.2178 13.8197L29.3399 18.0902L31.5851 11.1803L25.7072 6.90983H32.9726L35.2178 0Z" fill="#FFF9EF"/>
                                    <path d="M59.5654 0L61.8106 6.90983H69.076L63.1981 11.1803L65.4433 18.0902L59.5654 13.8197L53.6876 18.0902L55.9327 11.1803L50.0549 6.90983H57.3203L59.5654 0Z" fill="#FFF9EF"/>
                                    <path d="M83.9131 0L86.1582 6.90983H93.4237L87.5458 11.1803L89.7909 18.0902L83.9131 13.8197L78.0352 18.0902L80.2804 11.1803L74.4025 6.90983H81.6679L83.9131 0Z" fill="#FFF9EF"/>
                                    <path d="M109.13 0L111.375 6.90983H118.64L112.763 11.1803L115.008 18.0902L109.13 13.8197L103.252 18.0902L105.497 11.1803L99.6193 6.90983H106.885L109.13 0Z" fill="#FFF9EF"/>
                                    </svg>

                            </div>
                            <div class="rewItem__title">So cute</div>
                            <div class="rewItem__text">
                                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                        </div>
                </div>
                <div class="rewItem">
                        <div class="rewItem__name">
                            <span>Samantha R. </span>
                            <span>03/05/21</span>
                        </div>
                        <div class="rewItem__body">
                            <div class="rewItem__stars">
                                <svg width="120" height="20" viewBox="0 0 120 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 0L12.2451 6.90983H19.5106L13.6327 11.1803L15.8779 18.0902L10 13.8197L4.12215 18.0902L6.36729 11.1803L0.489435 6.90983H7.75486L10 0Z" fill="#FFF9EF"/>
                                    <path d="M35.2178 0L37.4629 6.90983H44.7283L38.8505 11.1803L41.0956 18.0902L35.2178 13.8197L29.3399 18.0902L31.5851 11.1803L25.7072 6.90983H32.9726L35.2178 0Z" fill="#FFF9EF"/>
                                    <path d="M59.5654 0L61.8106 6.90983H69.076L63.1981 11.1803L65.4433 18.0902L59.5654 13.8197L53.6876 18.0902L55.9327 11.1803L50.0549 6.90983H57.3203L59.5654 0Z" fill="#FFF9EF"/>
                                    <path d="M83.9131 0L86.1582 6.90983H93.4237L87.5458 11.1803L89.7909 18.0902L83.9131 13.8197L78.0352 18.0902L80.2804 11.1803L74.4025 6.90983H81.6679L83.9131 0Z" fill="#FFF9EF"/>
                                    <path d="M109.13 0L111.375 6.90983H118.64L112.763 11.1803L115.008 18.0902L109.13 13.8197L103.252 18.0902L105.497 11.1803L99.6193 6.90983H106.885L109.13 0Z" fill="#FFF9EF"/>
                                    </svg>

                            </div>
                            <div class="rewItem__title">So cute</div>
                            <div class="rewItem__text">
                                I love these slippers so much. I wear them almost every day and tell all my friends and family to buy them too! Addicting.
                            </div>
                        </div>
                </div> {% endcomment %}
            </div>

        </section>
<style>
.fa-star, .fa-star-o, .fa-star-half-o, .stamped-fa-star, .stamped-fa-star-o, .stamped-fa-star-half-o {
    color: #ffffff !important;
}
</style>