{{ content_for_index }}
<section class="sliderSection">
    <div class="slider">
        <div class="sliderItem">
            <img src="{{ 'Group.svg' | asset_url }}" alt="" class="sliderItem__imgDecor">
            <img src="{{ 'GroupSm.svg' | asset_url }}" alt="" class="sliderItem__imgDecor sliderItem__imgDecor_sm">
            <div class="stick">
                <h2 class="sliderItem__title"><span>Meet</span> citrine</h2>
                <p class="sliderItem__text">
                    A short little blurb about citrine and what personality it best suits... blah blah blah blah blah blah
                </p>
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
            <img src="{{ 'Terrelique_citrine.png' | asset_url }}" alt="" class="sliderItem__img">
        </div>
        <div class="sliderItem">
            <img src="{{ 'Group.svg' | asset_url }}" alt="" class="sliderItem__imgDecor">
            <img src="{{ 'GroupSm.svg' | asset_url }}" alt="" class="sliderItem__imgDecor sliderItem__imgDecor_sm">
            <div class="stick">
                <h2 class="sliderItem__title"><span>Meet</span> citrine</h2>
                <p class="sliderItem__text">
                    A short little blurb about citrine and what personality it best suits... blah blah blah blah blah blah
                </p>
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
            <img src="{{ 'Terrelique_citrine.png' | asset_url }}" alt="" class="sliderItem__img">
        </div>
        <div class="sliderItem">
            <img src="{{ 'Group.svg' | asset_url }}" alt="" class="sliderItem__imgDecor">
            <img src="{{ 'GroupSm.svg' | asset_url }}" alt="" class="sliderItem__imgDecor sliderItem__imgDecor_sm">
            <div class="stick">
                <h2 class="sliderItem__title"><span>Meet</span> citrine</h2>
                <p class="sliderItem__text">
                    A short little blurb about citrine and what personality it best suits... blah blah blah blah blah blah
                </p>
                <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
            </div>
            <img src="{{ 'Terrelique_citrine.png' | asset_url }}" alt="" class="sliderItem__img">
        </div>



    </div>

</section>

<section class="partnerSection">
    <ul class="partnerList">
        <li>
            <picture>
                <source srcset="{{ 'allure-logo1.png' | asset_url }} 2x, {{ 'allurLogo.svg' | asset_url }} 1x" />
                <img src="{{ 'allurLogo.svg' | asset_url }}" alt="allurLogo" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="{{ 'allure-logo1.png' | asset_url }} 2x, {{ 'repellerLogo.svg' | asset_url }} 1x" />
                <img src="{{ 'allure-logo1.png' | asset_url }}" alt="repellerLogo" />
            </picture>

        </li>
        <li>
            <picture>
                <source srcset="{{ 'womensHealthLogo.png' | asset_url }} 2x, {{ 'womensHealthLogo.png' | asset_url }} 1x" />
                <img src="{{ 'womensHealthLogo.png' | asset_url }}" alt="womensHealthLogo" />
            </picture>

        </li>
        <li>
            <picture>
                <source srcset="{{ 'allure-logo1.png' | asset_url }} 2x, {{ 'allurLogo.svg' | asset_url }} 1x" />
                <img src="{{ 'allurLogo.svg' | asset_url }}" alt="allurLogo" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="{{ 'allure-logo1.png' | asset_url }} 2x, {{ 'repellerLogo.svg' | asset_url }} 1x" />
                <img src="{{ 'allure-logo1.png' | asset_url }}" alt="repellerLogo" />
            </picture>

        </li>
        <li>
            <picture>
                <source srcset="{{ 'womensHealthLogo.png' | asset_url }} 2x, {{ 'womensHealthLogo.png' | asset_url }} 1x" />
                <img src="{{ 'womensHealthLogo.png' | asset_url }}" alt="womensHealthLogo" />
            </picture>

        </li>
    </ul>
</section>
<section class="catalogSection">
    <h2 class="catalogSection__title section__title">sets for your shoe-crew</h2>
    <div class="dflex catalogSectionJs">
        <a href="" class="mainProduct">
            <img src="{{ 'mainProduct1.jpg' | asset_url }}" alt="">
            <span class="mainProduct__title">Dynamic duo</span>
        </a>
        <a href="" class="mainProduct">
            <img src="{{ 'mainProduct2.jpg' | asset_url }}" alt="">
            <span class="mainProduct__title">THREE CHEERS</span>
        </a>
        <a href="" class="mainProduct">
            <img src="{{ 'mainProduct3.jpg' | asset_url }}" alt="">
            <span class="mainProduct__title">FAB FOUR</span>
        </a>
    </div>
    <a href="" class="btn"><span class="text">SHOP SETS</span> <span class="decor" ></span></a>
</section>
<section class="whySection">
    <div class="dflex">
        <div class="whySection__item">

            <img class="whySection__img" src="{{ 'B0A83EB4-3C79-43DE-B4B8-7F3C168205082.jpg' | asset_url }}" alt="">
        </div>
        <div class="whySection__item">
            <h2 class="whySection__title section__title">why terrelique?</h2>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_1">
                    <svg width="64" height="64">
                        <use xlink:href="#wordSvg"/>
                    </svg>
                </div>

                <h3 class="whyItem__title">
                    Ancient Tradition
                </h3>
                <p class="whyItem__text">
                    Inspired by the ancient global tradition of taking shoes off inside, Terrelique was born to manifest the trust, love and ease from feeling actively included in a space.
                </p>
            </div>
            <a href="" class="btn"><span class="text">OUR STORY</span> <span class="decor" ></span></a>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_2">
                    <svg width="64" height="59">
                        <use xlink:href="#heartSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Showing Respect
                </h3>
                <p class="whyItem__text">
                    Leaving shoes at the door when entering someone's home is a universal sign of respect and cleanliness. Terreliques stop dirt from tracking in and upgrade your look at the same time!
                </p>
            </div>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_3">
                    <svg width="68" height="68">
                        <use xlink:href="#houseSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Reclaim Your Space
                </h3>
                <p class="whyItem__text">
                    Keeping house slippers for guests lets them step into the special, curated experience of your space. Terreliques empower you to reclaim and elevate your unique sanctuary.
                </p>
            </div>
            <div class="whyItem">
                <div class="whyItem__img whyItem__img_4">
                    <svg width="88" height="88">
                        <use xlink:href="#tapkiSvg"/>
                    </svg>
                </div>
                <h3 class="whyItem__title">
                    Inside Out
                </h3>
                <p class="whyItem__text">
                    We love a house shoe, but Terreliques can take you anywhere, anytime. Choose your own adventure!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="caruselSection">
    <div class="sliderJs">
        <div class="sliderJsItem__wrap">
            <div class="sliderJsItem">
                <div class="sliderJsItem__info">
                    <h3 class="sliderJsItem__title">
                        Massaging Footbed
                    </h3>
                    <p class="sliderJsItem__text">
                        Terreliques work hard to absorb shock on hard floors while also massaging the bottoms of your feet!
                    </p>
                </div>
                <div class="sliderJsItem__img">
                    <img src="{{ 'slide1.png' | asset_url }}" alt="">
                </div>
            </div>
        </div>
        <div class="sliderJsItem__wrap">
            <div class="sliderJsItem">
                <div class="sliderJsItem__info">
                    <h3 class="sliderJsItem__title">
                        Massaging Footbed
                    </h3>
                    <p class="sliderJsItem__text">
                        Terreliques work hard to absorb shock on hard floors while also massaging the bottoms of your feet!
                    </p>
                </div>
                <div class="sliderJsItem__img">
                    <img src="{{ 'slide1.png' | asset_url }}" alt="">
                </div>
            </div>
        </div>
        <div class="sliderJsItem__wrap">
            <div class="sliderJsItem">
                <div class="sliderJsItem__info">
                    <h3 class="sliderJsItem__title">
                        Massaging Footbed
                    </h3>
                    <p class="sliderJsItem__text">
                        Terreliques work hard to absorb shock on hard floors while also massaging the bottoms of your feet!
                    </p>
                </div>
                <div class="sliderJsItem__img">
                    <img src="{{ 'slide1.png' | asset_url }}" alt="">
                </div>
            </div>
        </div>

    </div>

</section>
<section class="feedSection">
    <img class="feedSection__img" src="{{ 'terrelique-34_2X.jpg' | asset_url }}" alt="" />
    <svg class="feedSection__svg" width="149" height="26">
            <use xlink:href="#stars"/>
        </svg>
    <p class="feedSection__text">
        “Terrelique was born to manifest the trust, love, and ease that accompany feeling not only welcome, but actively included in a space.”
        <span>-Sarah P.</span>
    </p>

</section>
<section class="fotosSection">
    <div class="fotosSection__wrap">
        <h2 class="fotosSection__title section__title">
            join the shoe-free mvmt
        </h2>
        <div class="fotosSection__tag">
            <span>@terrelique</span>
            <span>#myterreliques</span>
        </div>
    </div>
    <div class="fotos">
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>

    </div>
    <div class="fotos">
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>
        <div class="fotos__item">
            <img class="" src="{{ 'foto1.jpg' | asset_url }}" alt="">
        </div>

    </div>
</section>
<section class="formSection">
    <form class="mainForm">
        <h2>don’t “slip” away</h2>
        <p>Promise we only send good news like discounts and exclusive bundles! </p>
        <input type="text" placeholder="ENTER EMAIL...">
        <button class="btn" type="submit"><span class="text">SUBSCRIBE</span> <span class="decor" ></span></button>
    </form>
</section>