 <section class="whySection whySection__moods">
            <div class="dflex">
                <div class="whySection__item">
                    <img class="whySection__img whySection__it_moods" src="{{ 'WhyTerrelique_.jpg' | asset_url }}" alt="">
                </div>
                <div class="whySection__item">
                    <div class="whySection__it_moods whySection__it_moods_col">
                        <div class="whySection__it_moodsWR">
                            <h2 class="whySection__title section__title">color <br> psychology <br> is real</h2>
                            <p class="moodsDEsc">
                                Terrelique was born to manifest the trust, love, and ease that accompany feeling not only welcome, but actively included in a space.
                            </p>
                            <p class="moodsDown">set the mood</p>
                            <svg class="downSvg" width="21" height="37" viewBox="0 0 21 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="10.5" y1="-2.18557e-08" x2="10.5" y2="35" stroke="#365B58"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8708 22.5L10.5 35.0773L1.15083 22.5L0.5 23.0416L10.5 36.5L20.5 23.0329L19.8708 22.5Z" fill="#365B58" stroke="#365B58" stroke-width="0.5"/>
                            </svg>
                        </div>

                    </div>
                    <div class="whySectionItem whySectionItem_1">
                        <div class="whySectionItem__block">
                            <img src="{{ 'Ellipse1.png' | asset_url }}" alt="">
                            <h3>feeling serene?</h3>
                            <p>
                                Inspired by the ancient global tradition of taking shoes off inside, Terrelique was born to manifest the trust, love and ease from feeling actively included in a space.
                            </p>
                            <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
                        </div>
                    </div>
                    <div class="whySectionItem whySectionItem_2">
                        <div class="whySectionItem__block">
                            <img src="{{ 'Ellipse2.png' | asset_url }}" alt="">
                            <h3>feeling care-free?</h3>
                            <p>
                                Leaving shoes at the door when entering someone's home is a universal sign of respect and cleanliness. Terreliques stop dirt from tracking in and upgrade your look at the same time!
                            </p>
                            <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
                        </div>
                    </div>
                    <div class="whySectionItem whySectionItem_3">
                        <div class="whySectionItem__block">
                            <img src="{{ 'Ellipse3.png' | asset_url }}" alt="">
                            <h3>feeling classic?</h3>
                            <p>
                                Leaving shoes at the door when entering someone's home is a universal sign of respect and cleanliness. Terreliques stop dirt from tracking in and upgrade your look at the same time!
                            </p>
                            <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
                        </div>
                    </div>
                    <div class="whySectionItem whySectionItem_4">
                        <div class="whySectionItem__block">
                            <img src="{{ 'Ellipse4.png' | asset_url }}" alt="">
                            <h3>feeling calm?</h3>
                            <p>
                                Leaving shoes at the door when entering someone's home is a universal sign of respect and cleanliness. Terreliques stop dirt from tracking in and upgrade your look at the same time!
                            </p>
                            <a href="" class="btn"><span class="text">SHOP SLIPS</span> <span class="decor" ></span></a>
                        </div>
                    </div>



                </div>

            </div>


        </section>
{% section 'subscribe' %}